@media (max-width:10000px) {

    /************* carouserl**************** */
    .arfat-0{
        font-size: 50px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .arfat-1{
        margin-bottom: 70px;
        margin-top: 20px;
        color: black;
        font-weight: bold;
        padding-left: 25px;
        
        padding-right: 25px;
    }
    .arfat-2{
        color: black;
    }
    
    /************* carouserl end**************** */
    

    .arfat-3{
        text-align: center;
        margin-top: 50px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bolder;
        font-size: 40px;
    }
    .arfat-5{
        margin-top: 80px;
    }
    .arfat-8{
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    
}