@media (max-width:767px) {
    

        /************* carouserl**************** */
    /* .arfat-0{
        font-size: 30px;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .arfat-1{
        margin-bottom: 0px;
        margin-top: 10px;
        color: black;
        font-weight: bold;
    }
    .arfat-2{
        color: black;
    } */
    
    /************* carouserl end**************** */

    .arfat-4{
        display:inline-flexbox;
        max-width: 100%;
    }
    .card-title{
        padding-left: 10px;
        font-size: 22px;
        font-weight: bold;
    }
    .card-text{
        padding-left: 10px;
    }
    .arfat-5{
        margin-top: 40px;
    }


    .arfat-6{
        margin-top: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        font-weight: bolder;
    }
    .arfat-7{
        font-weight: bolder;
    }
    .arfat-8{
        margin-top: 30px;
        height: 200px;
        margin-bottom: 40px;
    }
}